DATABASE_URL="postgresql://postgres:postgres@localhost:5432/smart_wardrobe"
AUTH_SECRET=""
NEXTAUTH_URL="http://localhost:3000"

GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

APPLE_CLIENT_ID=""
APPLE_CLIENT_SECRET=""
APPLE_TEAM_ID=""
APPLE_KEY_ID=""
APPLE_PRIVATE_KEY=""

WECHAT_CLIENT_ID=""
WECHAT_CLIENT_SECRET=""

ENABLE_DEMO_MODE="true"
DEMO_USER_ID="00000000-0000-0000-0000-000000000001"
